*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgrey;
}


/*  pages  */
/*  ----------------------------------------------------------------  */
.pages{
    margin: 10px;
}
/*  ----------------------------------------------------------------  */


/*  header and footer color  */
/*  ----------------------------------------------------------------  */
.header, .header a, .footer ,.footer a{
    
    background-color:black;
    color: goldenrod;
}
.header a:hover,.footer a:hover{
    color: gold;
}
/*  ----------------------------------------------------------------  */


/*  flexbox  */
/*  ----------------------------------------------------------------  */
.flexbox,.flexboxHomePage,.flexboxGameListTitlePage,.flexboxGameListpage,.flexboxGamepage{
    display: flex;
    flex-wrap: wrap;
}

.flexbox,.flexboxGameListpage{
    justify-content: space-evenly;
}

.flexbox {
    align-items: center;
}

.flexboxHomePage,.flexboxGameListTitlePage{
    padding-bottom: 25px;
    justify-content: space-between;
}

.flexboxGamepage{
    flex-direction: row;
    padding-right: 5px;
}
/*  ----------------------------------------------------------------  */
  

/*  header.js  */
/*  ----------------------------------------------------------------  */

.header{
    padding-left: 10px;
    padding-bottom: 10px;
}


/*  ----------------------------------------------------------------  */



/*  footer and gametitle  */
/*  ----------------------------------------------------------------  */
.footer,.gametitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  ----------------------------------------------------------------  */



/*  layout.js  */
/*  ----------------------------------------------------------------  */
.footer{
    height:50px
}
/*  ----------------------------------------------------------------  */


/*  gameList  */
/*  ----------------------------------------------------------------  */
.gameIdList{
    height:100%;
}
.gametitle{
    height: 20%;
}

.gameList{
    border: 1px solid black;
    width: 25%; 
    margin: 5px;
}
.gameInfo{
    padding-left: 10px;
}

.gameImageGameListPage{
  width: 100%;
  height: 80%
}
.gameImageHomePage{
  width: 100%;
  height: 100%
}

/*  ----------------------------------------------------------------  */


/*  images  */
/*  ----------------------------------------------------------------  */
.bannerImg{
    width: 25%;
    height: max-content;
}

.imagecss{
  width: 460px;
}

/*  ----------------------------------------------------------------  */


/*  div  */
/*  ----------------------------------------------------------------  */
.homePageDiv{
    width: 50%;
}

/*  ----------------------------------------------------------------  */


/*  div  */
/*  ----------------------------------------------------------------  */
a{
    text-decoration: none;
    color: rgb(185, 121, 1);
}
/*  ----------------------------------------------------------------  */



/*  media(mobile)  */
/*  ----------------------------------------------------------------  */
@media only screen and (max-width: 600px) {
    .gameList{
        width: 75%; 
    }
    .bannerImg,.homePageDiv{
        width: 100%;
    }
  }
  /*  ----------------------------------------------------------------  */